{% extends "base.html" %}
{% block content %}
<main>
  <div class="row">
    <div class="col-md-2"></div>
    <div style=margin:auto; ="col-md-4">
      <div class="row card card-outline-secondary">
        <div class="card-body">
          <h3 class="text-center">Enter Credit Card Information</h3>
          <hr>
          <div class="alert alert-info p-2">
            Submitting this form will generate redacted credit card info for Card Number, CVC and Expiration Date.
          </div>
          <form id="cc-form" action="/message">
            <div class="form-group">
              <label for="cc-name">Name</label>
              <span id="cc-name" class="form-field">
                <!--VGS Collect iframe for card name field will be here!-->
              </span>
            </div>
            <div class="form-group">
              <label for="cc-number">Card number</label>
              <span id="cc-number" class="form-field">
                <!--VGS Collect iframe for card number field will be here!-->
              </span>
            </div>
            <div class="form-group">
              <label for="cc-cvc">CVC</label>
              <span id="cc-cvc" class="form-field">
              <!--VGS Collect iframe for CVC field will be here!-->
              </span>
            </div>
            <div class="form-group">
              <label for="cc-expiration-date">Expiration date</label>
              <span id="cc-expiration-date" class="form-field">
              <!--VGS Collect iframe for expiration date field will be here!-->
              </span>
            </div>

            <!--Submit credit card form button-->
            <button type="submit" class="btn btn-success btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<!--Include script with VGS Collect form initialization-->
<script>
  // VGS Collect form initialization
  const form = VGSCollect.create("tntnopmrps6", "sandbox", function(state) {});

  // Create VGS Collect field for credit card name
  form.field('#cc-name', {
    type: 'text',
    name: 'card_name',
    placeholder: 'Joe Business',
    validations: ['required'],
  });

  // Create VGS Collect field for credit card number
  form.field('#cc-number', {
    type: 'card-number',
    name: 'card_number',
    successColor: '#4F8A10',
    errorColor: '#D8000C',
    placeholder: '4111 1111 1111 1111',
    validations: ['required', 'validCardNumber'],
  });

  // Create VGS Collect field for CVC
  form.field('#cc-cvc', {
    type: 'card-security-code',
    name: 'card_cvc',
    placeholder: '344',
    validations: ['required', 'validCardSecurityCode'],
  });

  // Create VGS Collect field for credit card expiration date
  form.field('#cc-expiration-date', {
    type: 'card-expiration-date',
    name: 'card_expirationDate',
    placeholder: '01 / 2022',
    validations: ['required', 'validCardExpirationDate']
  });

  // Submits all of the form fields by executing a POST request.
  document.getElementById('cc-form')
    .addEventListener('submit', function(e) {
      var redirect = function(){
      document.location.href="showredacted"
    };
      e.preventDefault();
      form.submit('/post', {
      }, function(status, data) {
        redirect();
      });
    }, function (errors) {
      document.getElementById('result').innerHTML = errors;
    });


</script>
{% endblock %}